
.icon-lock-circled:before { content: '\e800'; } /* '' */
.icon-cancel-circle:before { content: '\e801'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-instagram-circled:before { content: '\f05e'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */